.container {
    display: flex;
    justify-content: center;
}

.circle {
    margin: 0;
    width: 200px;
    height: 200px;
    background-color: #000000; 
    border-radius: 50%;       
    padding: 0;
}

.slider {
    /* remove default look */
    -webkit-appearance: none; 
    appearance: none;
    background: transparent; 
    outline: none; 

    /* position on the webpage */
    position: absolute;
    margin: 90px;
    width: 590px;
    padding: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 200px; 
    height: 200px;
    background: #ffffff8f; 
    border-radius: 50%; 
    cursor: pointer;
    margin-top: -5px; /* Centers the thumb vertically on the track for WebKit */
}

/* Firefox */
.slider::-moz-range-thumb {
    width: 200px;
    height: 200px;
    background: #ffffff8f; 
    border-radius: 50%; 
    border: none;
    cursor: pointer;
    /* Firefox automatically centers the thumb */
}